<robot  xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:macro name="cyl_link" params="name radius length mass xyz">
    <visual>
        <origin xyz="${xyz}" rpy="0 0 0"/>
        <geometry>
            <cylinder radius="${radius}" lenght="${length}"/>
        </geometry>
    </visual>
    <collision>
        <origin xyz="${xyz}" rpy="0 0 0"/>
        <geometry>
            <cylinder radius="${radius}" lenght="${length}"/>
        </geometry>
    </collision>
    <inertia>
        
    </inertia>
</xacro:macro>
